* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Poppins !important;
}

ul,
li {
  list-style: none;
}

.banner {
  background: #fd4c02;
  background-image: url(../image/Elemento-4.png);
  background-size: 110%;
  background-position: center;
  background-position-x: -300px;
  height: 100vh;
  padding: 0;
}

.banner .container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  flex-wrap: wrap;
}

.banner .container .ilustracao {
  width: 45%;
}

.banner .container .ilustracao img {
  width: 70%;
}

/* Content */
.content {
  width: 55%;
  color: #fff;
}

.content h1 {
  text-transform: uppercase;
  font-size: 50px;
}

.content p {
  font-weight: 300;
  font-size: 25px;
  margin: 2rem 0;
}

.content a {
  display: block;

  width: 200px;
  height: 40px;

  border-radius: 4px;
  background: #fff;

  display: flex;
  align-items: center;
  justify-content: center;

  color: #fd4c02;
  font-weight: bold;

  text-decoration: none;
}
