* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Poppins !important;
}

ul,
li {
  list-style: none;
}

.banner {
  background: #0d0d0e;
  background-image: url(../image/ondas.svg);
  background-size: 100%;
  background-position: center;
  /* background-position-x: -300px; */
  background-position-y: bottom;
  background-repeat: no-repeat;
  height: 100vh;
  padding: 0;

  border-top: 5px solid #fce100;
}

.banner .container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  flex-wrap: wrap;
}

.banner .container .ilustracao {
  width: 45%;
}

.banner .container .ilustracao img {
  width: 70%;
}

/* Content */
.content {
  width: 55%;
  color: #fce100;
}

.content h1 {
  text-transform: uppercase;
  font-size: 50px;
}

.content p {
  font-weight: 300;
  font-size: 25px;
  margin: 2rem 0;
}

.content a {
  display: block;

  width: 200px;
  height: 40px;

  border-radius: 4px;
  background: #000;

  display: flex;
  align-items: center;
  justify-content: center;

  color: #fce100;
  font-weight: bold;

  text-decoration: none;
}

.content a:hover {
  background: red;
  color: #000;
}

/* FOOTER */
footer {
  height: 40vh;
  background: #fd4c02;
}

footer .container {
  max-width: 1200px;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  color: #fff;
}

footer .container .item-footer {
  display: flex;
  margin-top: 3rem;
}
