* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Poppins;
}

ul,
li {
  list-style: none;
}

.banner {
  background: #fd4c02;
  background-size: 70%;
  height: 85vh;
}

.banner .container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  flex-wrap: wrap;
}

.banner .container .ilustracao {
  width: 45%;
}

.banner .container .ilustracao img {
  width: 70%;
}

/* Content */
.content {
  width: 55%;
  color: #fff;
}

.content h1 {
  text-transform: uppercase;
  font-size: 50px;
}

.content p {
  font-weight: 300;
  font-size: 25px;
  margin: 2rem 0;
}

.content a {
  display: block;

  width: 200px;
  height: 40px;

  border-radius: 4px;
  background: #fff;

  display: flex;
  align-items: center;
  justify-content: center;

  color: #fd4c02;
  font-weight: bold;

  text-decoration: none;
}

/* SOBRE */

.sobre {
  height: 80vh;
}

.sobre .container {
  max-width: 1200px;
  height: 100%;
  margin: 4rem auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sobre .contexto-sobre {
  width: 50%;
  margin-right: 4rem;
}

.sobre .contexto-sobre ul li {
  margin-top: 1rem;
  border-bottom: 1px dashed #fd4d0271;
}

.sobre .contexto-sobre ul li h1 {
  margin-bottom: 0.5rem;
}

.sobre .photos {
  width: 50%;
  text-align: center;
  background-color: #fd4d0271;
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;

  margin: 5rem 0;
}
