header {
  height: 15vh;
  background: transparent;
}

header .container {
  max-width: 1200px;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  align-items: center;

  /* border-bottom: 1px solid #fd4c02; */

  color: #fff;
}

header .container nav ul {
  display: flex;
}

header .container nav ul li a {
  margin-left: 2rem;
  text-decoration: none;

  display: block;
  padding: 40px 0px;

  color: #fff;

  border: 2px solid transparent;
}

header .container nav ul li a.active {
  color: #fff;
  font-weight: bold;
}
