.olheiro {
  height: 50vh;

  margin: 4rem 0;
}

.olheiro .container {
  max-width: 1200px;
  margin: 0 auto;

  height: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.olheiro h1 {
  font-size: 40px;
}
