/* SOBRE */

.sobre {
  height: 80vh;
}

.sobre .container {
  max-width: 1200px;
  height: 100%;
  margin: 4rem auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sobre .contexto-sobre,
.mapa .contexto-sobre {
  width: 50%;
  margin-right: 4rem;
}

.sobre .contexto-sobre ul li,
.mapa .contexto-sobre ul li {
  margin-top: 1rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sobre .contexto-sobre ul li h1,
.mapa .contexto-sobre ul li h1 {
  color: #2f2f2f;
}

.sobre .contexto-sobre ul li .bg-img,
.mapa .contexto-sobre ul li .bg-img {
  width: 140px;
  height: 70px;

  border-radius: 6px;
  background: #fce100;

  margin-right: 2rem;

  box-shadow: 0px 0px 10px 0px white rgba(0, 0, 0, 0.5);
}

.sobre .contexto-sobre ul li .bg-img .title {
  margin-top: 9px;
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
  right: -5px;
}

.sobre .contexto-sobre ul li .bg-img::before,
.mapa .contexto-sobre ul li .bg-img::before {
  content: "";
  display: block;
  width: 0;
  height: 0;

  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid #fce100;

  position: relative;
  float: right;
  left: 15px;
  top: 20px;
}

.sobre .contexto-sobre ul li .content-sobre-content,
.mapa .contexto-sobre ul li .content-sobre-content {
  width: 900px;
  border-bottom: 1px dashed #fce100;
  padding-bottom: 1rem;
}

.sobre .photos {
  width: 50%;
  text-align: center;
  background-image: linear-gradient(#ffffff59, #0d0d0e),
    url(../image/Elemento-2.png);
  background-position: center;
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;

  margin: 5rem 0;
}
